{{include('partials/header.twig')}}

<div class="content center-align">
	<p class="flow-text">Time remaining before the next episode of Power</p>

    <div class="wrapper">
        <div id="countdown">
          <div class="cd-box">
            <p class="numbers days">00</p><br>
            <p class="strings timeRefDays">Days</p>
          </div>
          <div class="cd-box">
            <p class="numbers hours">00</p><br>
            <p class="strings timeRefHours">Hours</p>
          </div>
          <div class="cd-box">
            <p class="numbers minutes">00</p><br>
            <p class="strings timeRefMinutes">Minutes</p>
          </div>
          <div class="cd-box">
            <p class="numbers seconds">00</p><br>
            <p class="strings timeRefSeconds">Seconds</p>
          </div>
        </div><!-- end div#countdown -->
    </div><!-- end div.wrapper -->

</div>

{{include('partials/footer.twig')}}
