{{include('partials/header.twig')}}

<div class="content center-align">
	<p class="flow-text">Bienvenue sur le site de présentation des élèves et des classes d'Hetic.</p>
</div>

{{include('partials/footer.twig')}}
