body{
    background-color: #353535;
}

header{
    margin-bottom: 10px;
}

.nav-wrapper{
    background-color: #505050;
}

.card{
    background-color: #151515;
}

.container h1{
    font-family: Lubalin Graph;
    color: #ffffff;
}

.card-action a{
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    margin-right: 0px !important; 
    color: #ffffff !important;
}

.card-content p{
    color: #717171 !important;
}

.season-title{
    font-size: 200px;
    font-weight: 900;
    position: absolute;
    margin-top: -85px;
    margin-left: -50px;
    color: #ffffff;
    opacity: 0.1;
}

.col.s10.info{
    width: 90% !important;
}

.col.s12.season img{
    float: right;
    margin-top: 20px;
}

.col.s12.season h3{
    font-family: Lubalin Graph;
    color: #ffffff;
}

.col.s12.season h4{
    font-family: Open sans;
    font-weight: 700;
    color: #ffffff;
    font-size: 28px;
}

.col.s12.season h5{
    font-family: Open Sans;
    color: #ffffff;
    font-size: 16px;
    width: 40vw;
    text-align: justify;
}

.col.s12.actor img{
    float: right;
    margin-top: 20px;
}

.col.s12.actor h3{
    font-family: Lubalin Graph;
    color: #ffffff;
}

.col.s12.actor h4{
    font-family: Lubalin Graph;
    color: #ffffff;
}

.col.s12.actor h5{
    font-family: Open Sans;
    color: #ffffff;
    font-size: 16px;
    width: 45vw;
    text-align: justify;
}

.col.s12.actor p{
    font-family: Open Sans;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

.col.s12.episode img{
    margin-top: 20px;
}

.col.s12.episode h4{
    font-family: Lubalin Graph;
    color: #ffffff;
}

.episode_actors{
    display: inline-block;
    width: 280px;
}

.episode_actors h5{
    color: #ABABAB;
}







/* resets and general styles */

div.wrapper{
    width: calc(4*225px);
    margin: 0 auto;
}

/* countdown styles */

div#countdown{color: #353535;}

div#countdown p{
    width: 100%;
    display: inline-block;
    text-align: center;
}

p.numbers{
    width: 100%;
    height: 85%;
    background: #FFFFFF;
    margin-top: -45px;
    padding-top: 70px;
    font-size: 50px;
    font-weight: 900;
}

p.strings{
    width: 100%;
    height: auto;
    padding: 30px 0;
    background: #7B7B7B;
    color: #FFFFFF;
}

div.cd-box{
    width: 210px;
    height: 180px;
    background: #FFFFFF;
    float: left;
    padding: 25px 0 0 0;
    margin: 30px 15px 0 0;
    -webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    -moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
    box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}
